/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-vlammrs {
	background: $green;
	border: 0.2rem solid $black;
	color: $black;
	margin: 0 auto;
	max-width: 740px;
	padding: 2rem;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 15px;

	&__left {
		width: 60%;
		background-color: #fff;
		padding: 10px;

	}

	&__right {
		width: 35%;

    &--options{
      p{
        margin: 0;
      }
      width: 100%;
      select{
        width: 100%;
      }
    }
    &--cta{
      background-color: #e71d73;
      width: 100%;
      padding: 10px;
    input[type="text"]{
      border: 0 !important;
      background-color: rgba(0,0,0,0);
      color: #fff;
      outline: none;
      font-size: 40px;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      &::placeholder{
        color: #fff;
      }
      &:focus{
        border: 0 !important;
        outline: none !important;
      }
      &:focus-within{
        border: 0 !important;
        outline: none !important;
      }
    }
    &-blue{
      background-color: #82cff5;
    }
	}
}
}